* {
    margin: auto;
    padding: auto;
}

.header-box {
    height: 600px;
    width: 1320px;
    margin-top: 50px;
    background-image: linear-gradient(rgba(7, 2, 18, 1), rgba(7, 2, 17, 0)),
        url("../resources/BannerImage.png");
    /* background-image: url("../resources/BannerImage.png"); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 16px;
}

.title {
    text-align: center;
    align-items: center;
}

.title p {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.899);
    font-family: "Merriweather", serif;
    font-weight: regular;
}

.title h1 {
    font-size: 72px;
    color: rgba(255, 255, 255, 0.901);
    font-family: "Merriweather", serif;
    font-weight: black;
}

.off {
    margin-top: 50px;
    color: #FF0000;
    font-size: 88px;
    font-family: Inter;
    font-weight: bold;
    text-align: center;
}

.our {
    margin-top: 40px;
    color: #FF0000;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: medium;
    text-align: center;
}

.all {
    margin-top: 10px;
    color: #070211;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-align: center;
}

.new-image {
    margin-top: 35px;
    margin: auto;
    text-align: center;
}

.image-position {
    margin-top: 35px;
}

.midnight-container {
    margin: auto;
    margin-top: 100px;
    width: 1320px;
    height: 600px;
    background: url(../resources/Group\ 98.png);
}

.park {
    margin: auto;
    margin-top: 100px;
    width: 1320px;
    height: 480px;
    /* border: #FF0000 solid 3px; */
    text-align: center;
    align-content: center;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: semi-bold;
    line-height: 1.5;
}

.btn {
    margin-top: 50px;
    width: 168px;
    height: 56px;
    border-radius: 12px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}











.footer-container {
    margin: auto;
    width: 1600px;
    height: 609px;
    border-style: dotted;
}