*{
    margin: 0;
    padding: 0;
}

header{
    color: rgb(255, 255, 255);
}
.header-box{  
   height: 600px;
    width: 1320px;
    background-image: url("../resources/BannerImage.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
   text-align: center;
   align-items:center;
}
.title p{
    font-size: 32px;
    color: rgba(255, 255, 255, 0.899);
    font-family: Merriweather;
    font-weight: 400;
}
.title h1{
    font-size: 72px;
    color: rgba(255, 255, 255, 0.901);
    font-family: Merriweather;
    font-weight: 400;
}
.off{
    margin-top: 50px;
color: #FF0000;
 font-size: 88px;
 font-family: Inter;
 font-weight: 700;
text-align: center;
}

.our{
    margin-top: 50px;
 color: #FF0000;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 text-align: center;
}
.all{ 
    margin-top: 50px;
color: #070211;
 font-size: 48px;
 font-family: Inter;
 font-weight: 700;
 text-align: center;
}
img{
    justify-content: center;
    align-items: center;
}